    .corpo{
        background-color:blueviolet
    }
    .titulo{
        font-size: 50px;color:white;background:rgb(0, 0, 0) ;text-align:center;
    }
    .texto-imc{
        font-size: 50px ;
        text-align: center;
    }